   .forgotBoxMain{
    background-image: url("https://thumbs.dreamstime.com/b/automated-property-management-smart-building-equipped-sensors-artificial-intelligence-technology-autonomously-321894551.jpg");
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
  }
  .forgotBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 290px;
    padding: 70px 40px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .user-forgot {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: calc(-100px/2);
    left: calc(50% - 50px);
  }
  
  h2 {
    margin: 0;
    padding: 0 0 26px;
    color: #ff8c00;
    text-align: center;
  }
  
  .forgotBox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #fff;
  }
  
  .forgotBox input {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .forgotBox input[type="email"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
  }
  
  ::placeholder
  {
    color: rgba(255, 255, 255, 0.5);
  }
  
  .forgotBox .reset-token {
    border: none;
    outline: none;
    height: 40px;
    color: #eee;
    font-size: 16px;
    background-color: #FF8C00;
    cursor: pointer;
    border-radius: 20px;
    margin: 12px 0 18px;
    width: 260px;
  }
  
  .forgotBox .reset-token:hover {
    background-color: #ff9719;
    color: #fff;
  }
  
  .forgotBox a {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
  }
