.homeContent1-container{
        background-image: url("https://static.vecteezy.com/system/resources/previews/022/527/474/non_2x/digital-tablet-and-a-hologram-of-modern-buildings-illustration-ai-generative-free-photo.jpg");
        background-size: cover;
        height: 80vh;
        background-position: center;
        background-repeat: no-repeat;
  
}
